td{
	margin-left: 50px;
	padding: 3px;
	padding-right:0px;
	padding-left:10px;
	padding: 5px 15px;
}

tr {
    margin-left: 50px;
    padding: 3px;
	padding-right:0px;
	padding-left:10px;
	padding: 5px 15px;
}

.product-image{
	height:60px;
	width:70px;
	border: 1;
	border-color: gray;	
	background-color: white;
}
  
.margin-top-5
{
	margin-top: 5px;
}
.margin-top-10
{
	margin-top: 10px;
}
.margin-top-3
{
	margin-top: 3px;
}
.padding-3
{
	padding: 3px;
}
.border-top-width
{
	border-top-width:1px;
}

.nav-class
{
	margin-left:15px;margin-top:5px;
}
.page-header
	{
	marign-top: 70px;
	}
.container-fluid
{
	padding-right:0px;
	padding-left:0px;
}
 #header .logo1 {
		height:auto;
		width:auto;
		padding-left:20px;
		margin: 0 auto;	
		background-color: white;
	}
	
	.in.navbar-collapse
   {
   overflow-y:visible;
   }

/* BUTTONS */

	.btn-send{
		background-color:#62b0ff;
		border-radius: 0;
		border: 0;
		color: #fff;
		padding: 8px 14px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-send:hover{
		background-color: #fff;
		color: #000;
	}

	.btn-readmore{
		background-color: #383838;
		border-radius: 0;
		border: 0;
		color: #fff;
		padding: 10px 20px;
		margin-top: 20px;
		text-transform: uppercase;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-readmore:hover{
		background-color: #000;
		color: #fff;	
	}

/* HEADER */

	#header{}
	
	#header .logo{
	    min-height: 50px;
	    width: 100%;
	    background-color:#62b0ff;
	    
		margin-bottom: 0;
		padding-right:20px;
	
		border-radius: 0;
	}

	#header .navbar {
		min-height: 80px;
		margin-bottom: 0;
		border-radius: 0;
	}

	.st-navbar{
		background-color: #fff;
		border-bottom: 1px solid #f0f0f0;
	}

	.st-navbar ul{
		padding: 0px 0px;
		padding-right:25px;
	}

	.st-navbar ul li a{
		text-transform: uppercase;
		font-weight: 600;
		padding: 0;
		margin: 14px;
	}

	.st-navbar ul li a:hover,
	.st-navbar ul li a:focus {
		background-color: transparent;
		color: #000;
	}

	.st-navbar .navbar-header{
		margin-top: 25px;
	}

	.st-navbar .navbar-toggle .icon-bar {
		background-color: #000;
	}

	.st-navbar .navbar-toggle{
		margin-top: 7px;
		margin-right: 25px;
		padding: 0;
		border-radius: 0;
	}


/* CONTACT */

	#contact{
	    background-color: #F1F0EE;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	
	.contact-info .contact-content{
		margin-bottom: 30px;
	}

	.contact-info p{
		margin-bottom: 20px;
	}

	.contact-info p i{
		font-size: 16px;
		margin-right: 10px;
	}

	.contact-form{}

	.contact-form input[type="text"],
	.contact-form input[type="email"]{
		border: 1px solid #E8E8E8;
		padding: 8px 14px;
		width: 100%;
		margin-bottom: 20px;
	}

	.contact-form textarea{
		border: 1px solid #E8E8E8;
		padding: 8px 14px;
		width: 100%;
		margin-bottom: 20px;
	}


/* 15. FOOTER */

	#footer{
		background-color: #808080;
		padding-top: 10px;
		color: #fff;
	}

	#footer a{
		color: #fff;
	}
	#footer a:hover{
		color: #62b0ff;
	}

	.footer-social-icons{
		text-align: right;
	}

	.footer-social-icons a{
		margin: 0 5px;
		font-size: 16px;
	}

	.footer-social-icons span{
		margin-right: 10px;
	}


/* SCROLL TO TOP */

	.scroll-up {
		position: fixed;
		display: none;
		z-index: 999;
		bottom: 1.8em;
		right: 1.8em;
	}

	.scroll-up ul{
		margin: 0;
		padding: 0;
	}

	.scroll-up li{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.scroll-up a {
		background-color: #fff;
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		color: #000;
		font-size: 20px;
		line-height: 38px;
		box-shadow: 0px 0px 6px #ccc;
	}

	.scroll-up a:hover,
	.scroll-up a:active {
		background-color: #f5f5f5;
		color: #000;
	}
hr { display: block; color: brown; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: inset; border-width: 1px;}

